.git
.github
node_modules
**/node_modules
**/__pycache__
**/*.pyc
**/*.pyo
**/.pytest_cache
**/.mypy_cache
artifacts
artifacts-*
dist
NovaBridge/Binaries
NovaBridge/Intermediate
NovaBridge/Saved
NovaBridgeDefault/Binaries
NovaBridgeDefault/Intermediate
NovaBridgeDefault/Saved
novabridge-studio/node_modules
novabridge-studio/dist
